<!--The content below is only a placeholder and can be replaced.-->
<link rel="icon" type="image/x-icon" href="../favicon.ico">

<head>
  <meta charset="UTF-8">
  <title>Справочная система</title>
</head>
<body>

<div class="header">
  <h1>Справочная система</h1>
  <br>
</div>
<div class="menu">
  <ul>
    <li><a routerLink="/">Главная</a></li>
    <li><a routerLink="/diskList">Таблица дисков</a></li>
    <li><a routerLink="/addDisk">Добавить диск</a></li>
    <li><a routerLink="/personList">Держатели дисков</a></li>
    <li><a routerLink="/addPerson">Добавить держателя</a></li>
  </ul>
  <br><br>
</div>

<router-outlet></router-outlet>
<br/>
<div class = "footer">© DoubleMax Production 2018</div>
</body>

